<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{QUERY_STRING} rss=1
RewriteRule dev.php /rig-cms/web/rss? [R=301,L]

RewriteRule ^dev\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /rig-cms/web/dev.php
</IfModule>